<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeStreet</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"> 
    <link rel="icon" href="imgs/logonav2.ico">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-B2pZeK/PZuL1DfGtnT+j9I4v3i1RczR6P2T4UmrToOo+UB1h19h9zrqrKDE5Od5S5upcfO1HEdI0Zb45qZpwSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <p class="primero blink-text uppercase-text" style="margin-bottom: 0;">Envíos gratis por compras sobre $50.000</p>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; margin-top: 0;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <a class="navbar-brand" href="#"><img src="imgs/logonav2.png" alt=""></a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Productos.html">Productos</a> 
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Info
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="QuienesSomos.html">Quienes somos</a></li>
                            <li><a class="dropdown-item" href="Envios.html">Envios</a></li>
                            <li><a class="dropdown-item" href="Devolucion.html">Devolucion</a></li>
                        </ul>
                    </li>
                    
                </ul>
                
                <!-- Imagen del carrito de compras -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="carrito.html">
                            <img src="imgs/bolsasuper.png" alt="Carrito de compras" class="cart-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenedor de Detalles del Producto -->
    <div class="container product-details">
        <div class="row">
            <div class="col-md-6">
                <!-- Carrusel -->
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Aquí puedes agregar las imágenes del carrusel -->
                        <div class="carousel-item active">
                            <img src="imgs/POLERA3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="imgs/descimagenes.png" class="d-block w-100" alt="...">
                        </div>
                        <!-- Puedes agregar más imágenes siguiendo la misma estructura -->
                    </div>
                    <!-- Flechas de navegación -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Descripción</strong><br>
                    <strong>Nombre:</strong> Esmerald-Code<br>
                    <strong>Color:</strong> Esmeralda y Blanco<br>
                    <strong>Fit:</strong> Boxy fit<br>
                    <strong>Composición:</strong> Material 100 % Algodón, 230 grs.<br>
                    <strong>Tela</strong> Pre encogida y suavizada. <br>
                    <strong>Recomendaciones:</strong> Lavar al revés con agua fría, secar a temperatura ambiente y planchar la prenda al revés. Evitar uso de secadora<br>
                    <strong>Precio:</strong> $20.000<br>
                </p>
                <button class="btn btn-primary" onclick="window.location.href='carrito.html'">¡Ir al carrito!</button>
                <button class="btn btn-secondary" onclick="window.location.href='Productos.html'">Volver atrás</button>

            </div>
        </div>
    </div>
    
    <!-- Scripts JS (Bootstrap y otros) -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
