{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título de la página{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-B2pZeK/PZuL1DfGtnT+j9I4v3i1RczR6P2T4UmrToOo+UB1h19h9zrqrKDE5Od5S5upcfO1HEdI0Zb45qZpwSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'imgs/logonav2.ico' %}">
</head>
<body>
    <p class="primero blink-text uppercase-text" style="margin-bottom: 0;">Envíos gratis por compras sobre $50.000</p>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; margin-top: 0;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'imgs/logonav2.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Info
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'quienes_somos' %}">Quiénes somos</a></li>
                            <li><a class="dropdown-item" href="{% url 'envios' %}">Envíos</a></li>
                            <li><a class="dropdown-item" href="{% url 'devolucion' %}">Devolución</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carrito' %}">
                            <img src="{% static 'imgs/bolsasuper.png' %}" alt="Carrito de compras" class="cart-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <img src="{% static 'imgs/banerfinal.png' %}" alt="Portada de League of Legends" style="width: 100%; height: auto;">
    <div class="stock-container">
    </div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'imgs/polera1.png' %}" class="d-block w-100" alt="Primera imagen">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imgs/totebag.png' %}" class="d-block" alt="Segunda imagen" style="width: 300px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imgs/polera2.png' %}" class="d-block w-100" alt="Tercera imagen">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="ver-mas-btn-container">
            <a href="{% url 'productos' %}" class="ver-mas-btn">Ver más productos</a>
        </div>
    </div>
    <hr>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
